<style>
body{
    background: grey;
}
</style>

<div class="d-flex justify-content-center">
    {{ form_start(form) }}
    {{ form_widget(form) }}  
</div>  
<div class="d-flex justify-content-center mt-5">
    <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
{# 
<script>

    const selectStart = document.querySelector('#calendar');
    const selectEnd = document.querySelector('#calendar');
    const form = document.querySelector('form');
            console.log(selectStart);
            console.log(selectEnd);

    form.addEventListener("input", (e)=> {
       e.preventDefault();
       // if (selectStart > selectEnd) {
        //     alert("Veuiller saisir une date valide");
        // }
    });

</script> #}
