{% block style %}
<style>
body{
    background: white;
    
}

</style>
{% endblock %}
<div class="d-flex justify-content-center">
    {{ form_start(form) }}
    {{ form_widget(form) }}  
</div>  
<div class="d-flex justify-content-center mt-5">
    <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}

<script>

    let yearStart = document.querySelector('#calendar_Start_date_year').value;
    let yearEnd = document.querySelector('#calendar_End_date_year').value;
    let monthStart = document.querySelector('#calendar_Start_date_month').value;
    let monthEnd = document.querySelector('#calendar_End_date_month').value;  
    let dayStart = document.querySelector('#calendar_Start_date_day').value;
    let dayEnd = document.querySelector('#calendar_End_date_day').value;          
    let form = document.querySelector('form');
          
    let Validation = function (e) {
        if (
            (yearStart > yearEnd) 
            || ((monthStart > monthEnd) && (yearStart == yearEnd)) 
            || ((dayStart > dayEnd) && (yearStart == yearEnd) && (monthStart == monthEnd))
            ){ 
                e.preventDefault();
                alert('Veuiller saisir une date valide'); 
            }
            form.addEventListener("input", function(){
                yearStart = document.querySelector('#calendar_Start_date_year').value;
                yearEnd = document.querySelector('#calendar_End_date_year').value;
                monthStart = document.querySelector('#calendar_Start_date_month').value;
                monthEnd = document.querySelector('#calendar_End_date_month').value;  
                dayStart = document.querySelector('#calendar_Start_date_day').value;
                dayEnd = document.querySelector('#calendar_End_date_day').value;  
                console.log(yearStart);     
                console.log(yearEnd);  
                console.log(monthStart);     
                console.log(monthEnd);   
                console.log(dayStart);  
                console.log(dayEnd);  
            });
    }
    
    form.addEventListener("submit", Validation);  



</script>
