{% extends 'base.html.twig' %}

{% block title %}Ma réservation{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center border mt-5">
        <h1 class="mt-5 mb-5">Je réserve un séjour</h1>
    </div>
    {{ include('calendar/_form.html.twig') }}
    {# <a href="{{ path('app_calendar_index') }}">back to list</a> #} 
{% endblock %}



