{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription
{% endblock %}

{% block body %}
	{% block nav %}
	{% endblock %}

	<h1>S'enregistrer</h1>
		{% block content %}
		<div class="d-flex justify-content-center bg-secondary">
			<div class="form-group m-5 shadow p-3 mb-5 bg-body rounded w-75 col-md-6">
				{{ form_start(registrationForm) }}
				{{ form_end(registrationForm) }}
			</div>
		</div>
		{% endblock %}
{% endblock %}
