{% extends 'base.html.twig' %}

{% block title %}CATEGORIE DE CHAMBRES
{% endblock %}



{% block body %}

	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{path('app_calendar_new')}}">RESERVER UNE CHAMBRE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('story')}}">
						NOTRE HISTOIRE
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{path('liste_chambre')}}">
						NOS CHAMBRES
					</a>
				</li>
			</li>
		</ul>

	</div>
</div>
{% endblock %}
