{% extends 'base.html.twig' %}

{% block title %} NOTRE HISTOIRE {% endblock %}

{% block style %}
<style>

.titre {
    text-align: center;
    background-color : bisque;
    
}
</style>
{% endblock %}

{% block body %}

<div class="gallery">
    <img src="/asset/images/reception-hotel.webp" alt="Reception" width="1700" height="500">
</div>

<div class="titre">
  
    <h1>NOTRE HISTOIRE</h1><br>
    <p>Nous somme une jeune équipe de developpeur, qui aimont travailler partout dans le monde dans des lieux extraordianaire et prestigieux, <br> notre amours des lieux prestigieux fait que nous avons ouvert notre propre hôtel avec des chambres aussi confortable que prestigieuse.<br> Autem excepturi veniam nemo. Ipsum maiores quo dolore voluptate natus laudantium quae inventore dolores, <br> provident recusandae quia quos, quas sint modi delectus.</p><br>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Unde, deleniti praesentium cum commodi modi velit maiores error provident soluta impedit corporis sint, <br> eius temporibus ipsum expedita ea consequuntur nobis laudantium!</p>
</div>



{% endblock %}
