{% extends "@EasyAdmin/page/content.html.twig" %}


{% block content %}


<div class="jumbotron">
    <div>
    <h1 class="d-flex justify-content-center mb-5">Bienvenue {{app.user.LastName}} !</h1>
        <div class="d-flex justify-content-center mb-5">
        Vous vous trouvez sur la partie administration de ParasLodge hotel. 
        </div>
        <div class="d-flex justify-content-center flex-column"> 
            <p>Ici vous pourrez:</p>
            <ul>
                <li>Gérer vos clients</li>
                <li>Créer de nouvelle catégorie de chambre</li>
                <li>Ajouter vos chambres</li>
                <li>visualiser le calendrier de réservation et les modifier si besoins</li>
            </ul> 
        </div>
    </div>
    {# <div class="row w-100">
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><span class="fa " aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>Clients</h4></div>
                <div class="text-info text-center mt-2"><h1>getValue</h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card"><span class="fa " aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h4>Etat des chambres</h4></div>
                <div class="text-success text-center mt-2"><h1>getValue</h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa " aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Chambre libre</h4></div>
                <div class="text-danger text-center mt-2"><h1>getValue</h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-warning mx-sm-1 p-3">
                <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa " aria-hidden="true"></span></div>
                <div class="text-warning text-center mt-3"><h4>Libérer une chambre</h4></div>
                <div class="text-warning text-center mt-2"><h1>getValue</h1></div>
            </div>
        </div>
     </div>
    <div class="row w-100 mt-5">
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><span class="fa " aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>Modifier réservation</h4></div>
                <div class="text-info text-center mt-2"><h1>getValue</h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card"><span class="fa " aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h4>Annuler une réservation</h4></div>
                <div class="text-success text-center mt-2"><h1>getValue</h1></div>
            </div>
        </div>
     </div> #}
</div>

{% endblock %}

